@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap');
* {
    box-sizing: border-box;
}
a {
    cursor: pointer;
}
h1, h2, h3, h4 {
    font-family: 'Love Ya Like A Sister', cursive;
}

/*Navbar*/
.my-navbar {
    margin: 0 !important;
    padding: 0 !important;
}
.my-logo {
    margin: 0 0 0 40px;
    padding: 0;
}
.my-logo img {
    max-width: 30px;
    margin: 0 auto;
    padding-top: 5px;
    display: block;
}
.my-nav li a {
    text-align: center;
    font-family: 'Kanit', sans-serif;
    color: rgba(203, 203, 203, 0.7);
    padding: 20px 40px;
    text-decoration: none;
    height: 100% !important;
    display: block;
    
}
.my-nav li a:hover {
    background-color: #dbdbdb; 
    color: rgb(105,105,105);
}


/*sections general*/
.my-container {
    min-height: 100vh;
    background-color: #dbdbdb;
}
#start-row {
    align-items: center;
    justify-content: center;
}
#start-section .title-container {
    margin: 200px 6px 0 auto; 
    text-align: right;
    font-weight: 700;
    color: #212529;
}
#start-section .title-container h1 {
    font-size: 2em;
    font-weight: 700;
}
#start-section .title-container h1 span {
    color: rgba(172, 8, 150, 1);
}
#start-section .img-container {
    margin: 200px auto 0 6px;
    width: 200px;
}
#start-section img {
    
    box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.7);
    border-top-right-radius: 40%;
    border-bottom-left-radius: 40%;
    width: 100%;
    filter: grayscale(100%);
}

@media (max-width: 576px) {
    #start-section .img-container {
        margin: 40px auto;
    }
    #start-section .title-container {
        margin: 120px auto 0 auto;
        text-align: center;
    }
}

/*cv section*/
#cv-section {
    font-family: sans-serif;
    background-color: #dbdbdb;
}
#cv-section h3 {
    font-size: 1.5em;
}
#cv-section #profile-col {
    margin-top: 80px;
}
#cv-section #profile-col #profile-section {
    box-shadow: 2px 0 0 rgba(173, 173, 173, 0.6);
}
#cv-section #profile-col img {
    width: 50%;
    max-width: 180px;
    min-width: 150px;
    border-radius: 3%;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.7);
    margin: 50px auto 0px;
    display: block;
}
#cv-section #profile-col .profile-name {
    text-align: center;
    font-size: 1.4em;
    margin-top: 20px;
    margin-bottom: 80px;
}
#cv-section #profile-col .profile-text-1 {
    width: 80%;
    margin: 40px auto;
    border-bottom: 1px solid rgba(105,105,105, 0.6);
}
#cv-section #profile-col .profile-text-2 {
    width: 80%;
    margin: 40px auto;
    border-bottom: 1px solid rgba(105,105,105, 0.6);
}
#cv-section #profile-col .profile-text-1 p,
#cv-section #profile-col .profile-text-2 p {
    margin-top: 15px;
}
#cv-section #profile-col .profile-text-1 .contact-icon {
    font-size: 1.7em;
    margin-right: 5px;
}
#cv-section #profile-col .profile-text-1 .contact-icon i {
    color: rgba(172, 8, 150, 0.6);
}
#cv-section #profile-col .profile-text-1 .contact-icon i:hover {
    color: rgba(172, 8, 150, 1);   
}
/*Progress bars*/
#cv-section #profile-col .profile-text-2 .bar1 {
    width: 100%;
    background-color: rgba(172, 8, 150, 1);
}
#cv-section #profile-col .profile-text-2 .bar2 {
    width: 80%;
    background-color: rgba(172, 8, 150, 1);
}
#cv-section #profile-col .profile-text-2 .bar3 {
    width: 40%;
    background-color: rgba(172, 8, 150, 1);
}

#cv-section #experience-col {
    margin-top: 80px;
}

#cv-section #experience-col .experience-content {
    margin: 50px auto;
    width: 80%;
}
@media (max-width: 575px) {
    #cv-section #profile-col #profile-section{
        box-shadow: none;
    }   
}

/* Project section */

#project-section {
    color: rgba(14, 12, 12, 0.8);
    padding: 10px;
}
#project-section .project-row {
    
    padding: 20px 0 60px;
}
#project-section .project-col h1{
    margin: 100px 0 0;
    text-align: center;
    font-size: 3em;
    color: rgba(172, 8, 150, 1);
}
#project-section .project-col .project-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
} 
#project-section .project-box {
    width: 250px;
    height: 250px;
    margin: 10px;
    text-align: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    box-shadow: 1px 1px 6px rgba(105,105,105, 0.6);
}

#project-section .project-box span {
    display: flex;
    justify-content: center;
    background-color: rgba(172, 8, 150, 0.6);
    color: rgb(255, 255, 255);
    padding: 8px;
    width: 80px;
    margin: 60px auto 0;
    font-size: 1.2em;
    border-radius: 4px;
}

#project-section .project-box span:hover {
    background-color: rgba(172, 8, 150, 1);   
}

#project-section .project-box:hover {
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 4px 4px 6px rgba(105,105,105, 0.6);
}
#project-section .project-box a {
    text-decoration: none;
}


@media (min-width: 500px) {
    #project-section{
        padding: 0 40px;
    }
    
} 

@media (min-width: 1000px) {
    #project-section .project-row{
        width: 840px;
        /* width: 80%; */
        margin-left: auto;
        margin-right: auto;
    }
    #project-section .project-row .project-wrapper {
        justify-content: flex-start;
    }      
} 


/*Contact section*/
#contact-section {
    background-color: #dbdbdb;
}
#contact-section .contact-row {
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}
#contact-section .contact-row .contact-text {
    margin: 100px auto 0 auto;
    text-align: center;
}
#contact-section .contact-row .contact-text div:nth-child(4) {
    margin: 0 auto;
}
#contact-section .contact-row .contact-text h1 {
    display: inline-block;
    padding-bottom: 1em;
    border-bottom: 1px solid rgba(105,105,105, 0.6);
    margin-bottom: 20px;
    color: rgba(172, 8, 150, 1);
}
#contact-section .contact-row .contact-text .icons {
    margin-top: 2.5em;
    font-size: 1.7em;
    width: 100%;
}
#contact-section .contact-row .contact-text .icons i {
    color: rgba(172, 8, 150, 0.6);
}
#contact-section .contact-row .contact-text .icons i:hover {
    color: rgba(172, 8, 150, 1);    
}
#contact-section .contact-row .contact-image {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin: 10px auto;   
}
#contact-section .contact-row .contact-image img {
    width: 100%;
    height: auto;
}
@media (max-width: 575px){
    #contact-section .contact-row .contact-col-1 {
        margin-bottom: 50px;    
    }
}
@media (min-width: 575px){
    #contact-section .contact-row .contact-image{
        width: 100%;
        max-width: 300px;
        height: auto;
        margin: 170px auto 0 0;   
    }
    #contact-section .contact-row .contact-text {
        width: 80%;
        margin: 170px 0 0 auto;          
    }
    #contact-section .contact-row .contact-text div:nth-child(4) {
        margin-right: 50%;
        padding-bottom: 20px;
    }   
}



/*Footer*/
footer {
    margin: 0;
    padding: 10px;
    height: 100vh;
    width: 100%;
    background-color: #dbdbdb;
}
footer .footer-row-1 {
    height: 80%;
}
footer .footer-row-2 {
    height: 20%;
}
footer .col-menu {
    display: none;
    
}
footer .col-menu ul {
    list-style-type: none;
    margin: 20px 0 0 0;
    padding: 0;
}
footer .col-menu ul li a {
    color: rgba(105,105,105, 0.8);
    transition: all 0.5s ease;
    text-decoration: none;
    font-weight: 500;
}
footer .col-menu ul li a:hover {
    color: rgb(52, 58, 64);
}
footer .col-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 0 2px rgba(173, 173, 173, 0.6);
}
footer .col-logo img {
    width: 20%;
    height: auto;
    display: block;
    border-radius: 50%;
}
footer .col-footer-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 0 2px rgba(173, 173, 173, 0.6);
}
footer .col-footer-contact p:nth-child(2) {
    margin-top: 20px;
}

footer .icon-col {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-left: 46px;
}
footer .icon-col .footer-icons i {
    font-size: 2em; 
    color: rgba(172, 8, 150, 0.6);  
}
footer .icon-col .footer-icons i:hover { 
    color: rgba(172, 8, 150, 1); 
}
footer .copyr-col {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 0.9em;
}
footer .copyr-col p {
    margin: 0;
}

@media (max-width: 575px){
    
    footer .icon-col {
        justify-content: center;
        margin: 0;
    }
    footer .copyr-col {
        justify-content: center;
        font-size: 0.7em;
        margin: 0;
    }   
}
@media (min-width: 768px) {
    footer .col-menu {    
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        box-shadow: 2px 0 2px rgba(173, 173, 173, 0.6);
        list-style-type: none;
        text-decoration: none;    
    }
}

